1 VERSIONINFO
    FILEVERSION 1,1,0,1130
    PRODUCTVERSION 1,1,0,1130
    FILEFLAGSMASK 0x17L
#ifdef  _DEBUG
    FILEFLAGS 0x1L
#else
    FILEFLAGS 0x0L
#endif
    FILEOS 0x4L
    FILETYPE 0x2L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "ProductName"     , "CrHack GFX3 Library\0"
            VALUE "ProductVersion"  , "1.1.0.1130\0"
            VALUE "FileVersion"     , "1.1.0.1130\0"
            VALUE "FileDescription" , "CrHack GFX3 Library\0"
            VALUE "LegalCopyright"  , "Copyright 2009+ by CrHackOS\0"
            VALUE "Comments"        , "Release Date: 2016-10-17\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
