body {
	font-family: "Microsoft YaHei", Arial, Tahoma, SimSun, sans-serif;
}
img {
	border: none;
	margin: 5px;
}
ul {
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 10px;
}
b {
	font-size: 200%;
}
table {
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	word-break: break-all;
}
.head td {
	color: #FFFFFF;
	text-align: center;
	background-color: #000000;
}
.imgs td {
	text-align: center;
	background-color: #F1F1F1;
}
.text td {
	color: #000000;
	text-align: left;
	background-color: #F1F1F1;
}
.head a {
	color: #FFFFFF;
	text-decoration: none;
}
.head a:hover {
	color: #FF0000;
	text-decoration: none;
}
.text a {
	color: #000000;
	text-decoration: none;
}
.text a:hover {
	color: #0000FF;
	text-decoration: none;
}
